<!DOCTYPE html>
-load bootstrap_toolkit
-load staticfiles


%html
    /head
    %head
        -include "includes/head.haml"

    /body
    %body
        -include "includes/navbar.html"
        .container
            .span12
                -bootstrap_messages
                .center
                    %h1= title

